body,html{
    text-align: center;
    margin:0;
    font-family: 'Syne Tactile', cursive;
    color: rgb(5, 163, 236);
}
.mid,.bottom
{
    height:200px;
    width:200px;
}
a{
    padding:20px;
    line-height:30px;
    text-decoration: none;
    font-size:18px;
    font-weight: 500;
    color:#11999E;
    font-family: monospace;
}
a:hover{
    font-size:24px;
}
.top{
    
    background: hsla(241, 49%, 63%, 1);

    background: linear-gradient(270deg, hsla(241, 49%, 63%, 1) 0%, hsla(168, 30%, 43%, 0.6) 100%);
    
    background: -moz-linear-gradient(270deg, hsla(241, 49%, 63%, 1) 0%, hsla(168, 30%, 43%, 0.6) 100%);
    
    background: -webkit-linear-gradient(270deg, hsla(241, 49%, 63%, 1) 0%, hsla(168, 30%, 43%, 0.6) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#7472CF", endColorstr="#4D8E81", GradientType=1 );
      
}
.middle-container{
   width: 50%;
   margin: auto;   
   padding-bottom: 20px;
   padding-top: 20px;
}
.bottom-container{
 
  margin: auto;  
  background-color:#66BFBF;
  padding:20px 20px;
}
.top{
    position: relative;padding: 40px;
}
.topcloud{
   position: absolute;
   margin: -20px 140px;
}
.bottcloud{
    position: absolute;
}
.pic{
    max-width: 100px;
}
.name{
font-size:88px;
color:rgb(35, 59, 165);

}
h2{
    font-size: 39px;
    color: rgb(35, 59, 165);
}
h3{
    color:blue
}
p{
    font-weight: bold;
    letter-spacing: 1px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 10px;;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #009dff);
    background-image: -moz-linear-gradient(top, #3498db, #009dff);
    background-image: -ms-linear-gradient(top, #3498db, #009dff);
    background-image: -o-linear-gradient(top, #3498db, #009dff);
    background-image: linear-gradient(to bottom, #3498db, #009dff);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .contact-me{
      height: fit-content;
  }