body{
    
    background: rgb(51,47,52);
    background: linear-gradient(353deg, rgba(51,47,52,1) 12%, rgba(37,91,186,1) 50%, rgba(158,158,158,1) 81%);
   font-family: 'Sarabun', sans-serif;
    color:#ffffff;

}
a{
    text-decoration: none;
}
.navbar{
    background-color:#789395;
    border-bottom-right-radius:15%;
    border-bottom-left-radius:15%;font-family: 'Averia Libre', cursive;
    padding-left:5rem;
    padding-right: 5rem;
    justify-content:flex-end;
}.navlink{
    cursor: pointer;
    font-size: 1.3rem;
    
    padding-bottom:0;
}
.navlink:hover{
    text-decoration: underline rgb(226, 221, 221) 0.3rem;
    text-transform: capitalize;
}
.home{
    margin-left:auto;
    padding-top:8rem;
    padding-left: 5rem;
}

.textcolor{
    color:#ffffff;
}
.text1{
font-size:3.5rem;

}
.text2{
    font-size:4rem;
    font-weight: bold;
}
.text3{
    font-size:4rem;
}
.about{
    width: 50%;
    font-size:1.7rem;
    padding-left: 5rem;
    padding-top:12rem;
}
.aboutheading{
    text-decoration: underline;
    
}
.skillsheading{
    padding-bottom:2rem;
    text-decoration: underline;
}
.skills{
    padding-top:7rem;
    padding-left:5rem;
    font-size:5rem;
    padding-right:3rem;
    
}
.icos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
}
.icotext{
font-size:2rem;
padding-top: 2%;


}
.fa-brands{
    padding:1rem;
} 
.projects{
    padding-left: 5rem;
    padding-right: 3rem;
    padding-top: 4rem;
}
.contactheading{
    text-align: center;
    padding-bottom: 2rem;
}
.contact{
    font-size:2rem;
  text-align: center;
}
.contacticon{
padding-left:1rem;
padding-right:1rem;
color:rgb(71, 20, 167);
text-decoration: none;
border:5px solid rgb(71, 20, 167);
display: inline-block;
background-color: #ffffff;
font-weight: bold;
}
.contacticon:hover{
    background-color: black;
}
#contact{
    padding-bottom:3rem;
}
.section{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;  
    padding:1rem;
}
.boss{
    grid-template-columns: 3fr 3fr;
    display: grid;
}

.sectionimg{
    background-image: url(images/drum-roll.png);
   background-size: contain;
    background-repeat:no-repeat;
    grid-row: 1/2;
}
.sectionbelow{
  grid-row: 2/4;
    font-size: 1.2rem;
padding-top:1.2rem;

}